.main{ padding:40px;}

.article{
	h2{ font-size:26px; color:#6dc3ea; font-weight:normal; margin-bottom:20px;}
	.el-select{ width:100px;}
	.el-radio-group{ margin-bottom: 10px;}
	&_ctr{ margin-bottom: 10px; border-bottom:solid 1px #e6e6e6;}
}
