<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文章</title>
</head>
<body>
<div id="app" v-cloak>
	<c-top></c-top>
	<div class="main fix">
		<c-right></c-right>
		<div class="con">
			<div class="list">
				<h2 class="title">标题标题啊啊啊</h2>
				<div class="info">发布于：2017-5-7&nbsp;&nbsp;&nbsp;评论：20&nbsp;&nbsp;&nbsp;标签：node,js,css,html,vue,angular</div>
				<div class="article">
					<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
					<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
					<p>内容内容内容内容内容内容内容内容内容内容内……</p>
				</div>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>