<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>图片</title>
</head>
<body>
<div id="app" v-cloak>
	<c-top></c-top>
	<div class="main fix">
		<c-right></c-right>
		<div class="con">
			<el-row class="picture" :gutter="20">
				<el-col :span="8" v-for="item in pictureList">
					<el-card :body-style="{ padding: '10px' }">
						<div class="picture_list" @click="showPicture(item.listId)" :style="item.cover?'background-image:url('+item.cover+')':'background-image:url(/images/noCover.png)'"></div>
						<p>{{item.name}}</p>
						<p>{{ new Date(item.date).toLocaleDateString() }}</p>
					</el-card>
				</el-col>
			</el-row>

			
			<el-dialog class="picture_show" :visible.sync="showVisible" @open="reSize" width="70%">
				<div class="picture_show_box">
					<div class="picture_swiper">
						<swiper :options="swiperOpt" ref="swiper">
							<swiper-slide v-for="slide in list">
								<img :src="slide.src" alt="">
							</swiper-slide>
							<div class="swiper-button-prev" slot="button-prev"></div>
							<div class="swiper-button-next" slot="button-next"></div>
						</swiper>
						<div class="picture_info">
							{{pictureInfo.name}}&nbsp;
							<small>{{ new Date(pictureInfo.date).toLocaleDateString() }}</small>&nbsp;
							<template v-if="pictureInfo.formId">源自文章：<a :href="'/articleDetail?id='+pictureInfo.formId">{{pictureInfo.name}}</a></template>
							<template v-else>{{pictureInfo.des}}</template>
						</div>
					</div>
					<div class="picture_previewSwiper">
						<swiper :options="previewSwiperOpt" ref="previewSwiper">
							<swiper-slide v-for="slide in list">
								<img :src="slide.src" alt="">
							</swiper-slide>
						</swiper>
					</div>
					
				</div>
				
				<!-- <ul>
					<li>
						<p>{{pictureInfo.name}}</p>
						<small>{{ new Date(pictureInfo.date).toLocaleString() }}</small>
					</li>
					<li>
						<template v-if="pictureInfo.formId">源自文章：<a target="_blank" :href="'/articleDetail?id='+pictureInfo.formId">{{pictureInfo.name}}</a></template>
						<template v-else>{{pictureInfo.des}}</template>
					</li>
					<li>
						<el-button type="primary" v-if="!pictureInfo.formId"  @click="editPictureInfo">修改</el-button>
					</li>
				</ul> -->
			</el-dialog>

		</div>
	</div>
</div>
	
</body>
</html>