<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>搜索</title>
</head>
<body>
<div id="app" v-cloak>
	<c-top></c-top>
	<div class="main fix">
		<c-right></c-right>
		<div class="con">
			<el-form inline size="mini" :model="searchForm">
				<el-form-item>
					<el-date-picker v-model="searchForm.date" type="daterange" :editable="false" :default-time="['00:00:00', '23:59:59']" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
				</el-form-item>
				<el-form-item>
					<el-select v-model="searchForm.class">
						<el-option label="全部" value=""></el-option>
						<el-option label="文章" :value="1"></el-option>
						<el-option label="代码" :value="2"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item>
					<el-input placeholder="请输入搜索内容" v-model="searchForm.val">
						<el-select v-model="searchForm.type" slot="prepend">
							<el-option label="标题" value="name"></el-option>
							<el-option label="标签" value="tags"></el-option>
						</el-select>
						<el-button slot="append" icon="el-icon-search" @click="search"></el-button>
					</el-input>
				</el-form-item>
			</el-form>
			<div v-for="item in articleList.list" class="list">
				<h1 class="title"><a :href="'article?id='+item._id">{{item.name}}</a></h1>
				<div class="info">发布于：{{new Date(item.date).toLocaleDateString()}}&nbsp;&nbsp;&nbsp;<template v-if="item.tags[0]">标签：{{item.tags.join(',')}}</template></div>
				<div class="article" v-cut-html="item.content">
					
				</div>
			</div>
			<div class="tc">
				<el-pagination background layout="total, prev, pager, next, jumper" :page-size="pageSize" :total="articleList.total" @current-change="goPage"></el-pagination>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>