.main{ width: 1000px; margin: 0 auto;}
.con{ padding: 20px 252px 20px 20px;}

.title{
	font-size: 24px; font-weight: normal;
	a{color: #666;}
}
.info{color: #ccc; margin-bottom: 10px;}
.article{
	word-break:break-all;
	h1{font-size: 20px;}
	h2{ font-size: 16px;}
	p{
		&.ql-align-center{text-align:center;}
		&.ql-align-right{text-align:right;}
		&.ql-align-justify{text-align:justify;}
		img{box-shadow:0px 0px 5px 2px #aaa; margin:20px 0; max-width: 100%;}
	}
	ul,ol,blockquote,pre{margin: 10px 0;}
	li{
		padding-left:1.5em;
		&:before{ margin-left:-1.5em;margin-right:0.3em;text-align:right;display: inline-block; width: 1.2em; content:'\2022';}
	}
	ol li {
		counter-increment: list-0;
		&:before{
			content: counter(list-0, decimal) '. ';
		}
	}
	blockquote{border-left:4px solid #ccc; padding-left:16px;}
	pre{ border-radius: 5px; font-family:"Arial";}
}