<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>文章管理</title>
</head>
<body>

<div id="app" v-cloak>
	<c-top ref="CTop" :user-info.sync="userInfo"></c-top>

	<el-row class="oh">
		<c-nav :now="navNow"></c-nav>
		<router-view></router-view>
	</el-row>

</div>


<!-- 文章列表 -->
<template id="articleList">
	<el-col :span="20" class="main article">
		<h2>{{tit}}</h2>
		<div class="article_ctr fix">
			<el-form inline size="small" :model="searchForm" class="fr">
				<el-form-item>
					<el-date-picker v-model="searchForm.date" type="daterange" :editable="false" :default-time="['00:00:00', '23:59:59']" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
				</el-form-item>
				<el-form-item label="类别">
					<el-select v-model="searchForm.class">
						<el-option label="全部" value=""></el-option>
						<el-option label="文章" :value="1"></el-option>
						<el-option label="代码" :value="2"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="显示">
					<el-select v-model="searchForm.visible">
						<el-option label="全部" value=""></el-option>
						<el-option label="显示" :value="true"></el-option>
						<el-option label="隐藏" :value="false"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item>
					<el-input placeholder="请输入搜索内容" v-model="searchForm.val">
						<el-select v-model="searchForm.type" slot="prepend">
							<el-option label="标题" value="name"></el-option>
							<el-option label="标签" value="tags"></el-option>
						</el-select>
						<el-button slot="append" icon="el-icon-search" @click="search"></el-button>
					</el-input>
				</el-form-item>
			</el-form>
			<el-dropdown trigger="click" @command="selectionOpt">
				<el-button size="small" type="primary">批量操作<i class="el-icon-caret-bottom el-icon--right"></i></el-button>
				<el-dropdown-menu slot="dropdown">
					<el-dropdown-item :command="1">切换显示</el-dropdown-item>
					<el-dropdown-item :command="2">删除</el-dropdown-item>
				</el-dropdown-menu>
			</el-dropdown>
			<el-button size="small" type="primary" plain onclick="location = '/admin/article#/articleEdit'">发布新文章</el-button>
		</div>
		<div class="article_list">
			<el-table :data="tableData.list" border size="small" @selection-change="selection">
				<el-table-column type="selection"></el-table-column>
				<el-table-column width="100px" label="发布时间">
					<template slot-scope="scope">{{ new Date(scope.row.date).toLocaleDateString() }}</template>
				</el-table-column>
				<el-table-column prop="name" label="标题"></el-table-column>
				<el-table-column label="标签">
					<template slot-scope="scope"><el-tag disable-transitions :key="item" v-for="item in scope.row.tags">{{item}}</el-tag></template>
				</el-table-column>
				<el-table-column width="100px" align="center" label="类别">
					<template slot-scope="scope">
						<template v-if="scope.row.class==1">文章</template>
						<template v-else-if="scope.row.class==2">代码</template>
					</template>
				</el-table-column>
				<el-table-column width="100px" align="center" label="显示">
					<template slot-scope="scope">
						<el-tag type="success" disable-transitions v-if="scope.row.visible==true">显示</el-tag>
						<el-tag type="info" disable-transitions v-else>隐藏</el-tag>
					</template>
				</el-table-column>
				<el-table-column width="100px" label="最后修改时间">
					<template slot-scope="scope">{{ scope.row.update?new Date(scope.row.update).toLocaleDateString():'' }}</template>
				</el-table-column>
				<el-table-column width="220px" align="center" label="操作">
					<template slot-scope="scope">
						<el-button size="small" @click="editArticle(scope.row._id)">编辑</el-button>
						<el-button v-if="scope.row.visible" size="small" @click="toggleArticle(scope.row._id,false)">隐藏</el-button>
						<el-button v-if="!scope.row.visible" size="small" @click="toggleArticle(scope.row._id,true)">显示</el-button>
						<el-popover width="160">
							<p>确定删除该文章吗？</p>
							<div class="tr">
								<el-button size="mini" type="text" onclick="document.body.click()">取消</el-button>
								<el-button size="mini" type="primary" @click="delArticle(scope.row._id)">确定</el-button>
							</div>
							<el-button size="small" type="danger" slot="reference">删除</el-button>
						</el-popover>
					</template>
				</el-table-column>
			</el-table>
			<div class="pagination tc">
				<el-pagination layout="total,sizes,prev,pager,next,jumper" background :page-size="pageSize" :total="tableData.total" :current-page="pageNo" :page-sizes="[10,20,50]" @current-change="goPage" @size-change="changeSize"></el-pagination>
			</div>
		</div>
	</el-col>
</template>



<!-- 文章编辑 -->
<template id="articleEdit">
	<el-col :span="20" class="main article">
		<h2>{{tit}}</h2>
		<div class="article_ctr fix">
			<el-button size="small" type="primary" plain onclick="location = '/admin/article#/articleList'">返回列表</el-button>
		</div>
		<el-form class="article_edit" size="small" ref="form" :model="form" label-width="80px">
			<el-form-item label="标题" prop="name" :rules="[{ required: true, message: '请输入标题' }]">
				<el-input class="s_input" v-model="form.name" :maxlength="50"></el-input>
			</el-form-item>
			<el-form-item label="类别">
				<el-select v-model="form.class">
					<el-option label="文章" :value="1"></el-option>
					<el-option label="代码" :value="2"></el-option>
				</el-select>
			</el-form-item>
			<el-form-item label="标签">
				<el-tag :key="tag" v-for="tag in form.tags" closable @close="delTag(tag)">{{tag}}</el-tag>
				<el-input class="tag_input" v-if="tagVisible" v-model="tagValue" ref="saveTagInput" :maxlength="10" @keyup.enter.native="addTag" @blur="addTag"></el-input>
				<el-button v-else @click="showTagInput">+ 新增</el-button>
			</el-form-item>
			<el-form-item label="显示">
				<el-switch v-model="form.visible"></el-switch>
			</el-form-item>
			<el-form-item label="内容" prop="content" :rules="[{ required: true, message: '请输入内容' }]">
				<quill-editor ref="myTextEditor" v-model.sync="form.content" :options="editorOption"></quill-editor>
			</el-form-item>
			<el-form-item>
				<el-button size="medium" type="primary" :disabled="isSubmit"  @click="submitForm">{{$route.params.id?'修改':'提交'}}</el-button>
			</el-form-item>
		</el-form>



		
		<el-dialog :visible.sync="uploadVisible" width="400px">
			<el-upload ref="upload" accept="image/*" drag :limit="1" :on-success="articleImgUpload" action="/adminApi/articleImgUpload">
				<i class="el-icon-upload"></i>
				<div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
				<div class="el-upload__tip" slot="tip">文件大小不超过1MB</div>
			</el-upload>
		</el-dialog>
	</el-col>
</template>


</body>
</html>
