<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>文章管理</title>
</head>
<body>

<div id="app" v-cloak>
	<c-top ref="CTop" :user-info.sync="userInfo"></c-top>

	<el-row class="oh">
		<c-nav :now="navNow"></c-nav>
		<router-view></router-view>
	</el-row>

</div>




<!-- 基本资料编辑 -->
<template id="articleList">
	<el-col :span="20" class="main article">
		<h2>{{tit}}</h2>
		<div class="article_ctr fix">
			<el-form inline size="small" :model="searchForm" class="fr">
				<el-form-item>
					<el-date-picker v-model="searchForm.date" type="daterange" :editable="false" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
				</el-form-item>
				<el-form-item>
					<el-select v-model="searchForm.class">
						<el-option label="全部" :value="0"></el-option>
						<el-option label="文章" :value="1"></el-option>
						<el-option label="代码" :value="2"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item>
					<el-select v-model="searchForm.visible">
						<el-option label="显示" :value="0"></el-option>
						<el-option label="隐藏" :value="1"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item>
					<el-input placeholder="请输入搜索内容" v-model="searchForm.val">
						<el-select v-model="searchForm.type" slot="prepend">
							<el-option label="标题" value="tit"></el-option>
							<el-option label="标签" value="tag"></el-option>
						</el-select>
						<el-button slot="append" icon="el-icon-search" @click="getList()"></el-button>
					</el-input>
				</el-form-item>
			</el-form>
			<el-dropdown trigger="click">
				<el-button size="small" type="primary">批量操作<i class="el-icon-caret-bottom el-icon--right"></i></el-button>
				<el-dropdown-menu slot="dropdown">
					<el-dropdown-item :command="1">隐藏</el-dropdown-item>
					<el-dropdown-item :command="2">删除</el-dropdown-item>
				</el-dropdown-menu>
			</el-dropdown>
			<el-button size="small" type="primary" plain onclick="location = '/admin/article#/articleEdit'">发布新文章</el-button>
		</div>
		<el-radio-group v-model="searchForm.sort" size="mini">
			<el-radio-button label="1"><i class="el-icon-d-caret"></i>&nbsp;按时间排序</el-radio-button>
			<el-radio-button label="2"><i class="el-icon-d-caret"></i>&nbsp;按浏览量排序</el-radio-button>
		</el-radio-group>
		<el-table :data="tableData" border size="small" @selection-change="selection">
			<el-table-column type="selection"></el-table-column>
			<el-table-column prop="date" label="发布时间"></el-table-column>
			<el-table-column prop="tit" label="标题"></el-table-column>
			<el-table-column prop="tag" label="标签"></el-table-column>
			<el-table-column prop="PV" label="浏览量"></el-table-column>
			<el-table-column prop="class" label="类别"></el-table-column>
			<el-table-column label="操作">
				<template slot-scope="scope">
					<el-button size="small" @click="editArticle(scope.row)">编辑</el-button>
					<el-button size="small" @click="hideArticle(scope.row)">隐藏</el-button>
					<el-button size="small" @click="showArticle(scope.row)">显示</el-button>
					<el-popover width="160">
						<p>确定删除该文章吗？</p>
						<div class="tr">
							<el-button size="mini" type="text" onclick="document.body.click()">取消</el-button>
							<el-button size="mini" type="primary" @click="delUser(scope.row)">确定</el-button>
						</div>
						<el-button size="small" type="danger" slot="reference">删除</el-button>
					</el-popover>
				</template>
			</el-table-column>
		</el-table>
		<div class="pagination tc">
			<el-pagination layout="total, sizes, prev, pager, next, jumper" background :page-size="pageSize" :total="pageNo" :current-page="pageNo" :page-sizes="[10,20,30,50]" @current-change="pageChange"></el-pagination>
		</div>
	</el-col>
</template>



<!-- 发布文章 -->
<template id="articleEdit">
	<el-col :span="20" class="main article">
		<h2>{{tit}}</h2>
		<div class="article_ctr fix">
			<el-button size="small" type="primary" plain onclick="location = '/admin/article#/articleList'">返回列表</el-button>
		</div>
		<el-form size="small" :model="form" label-width="80px">
			<el-form-item label="标题">
				<el-input class="s_input" v-model="form.name"></el-input>
			</el-form-item>
			<el-form-item label="类别">
				<el-select v-model="form.class">
					<el-option label="文章" value="1"></el-option>
					<el-option label="代码" value="2"></el-option>
				</el-select>
			</el-form-item>
			<el-form-item label="标签">
				<el-tag :key="tag" v-for="tag in form.tags" closable @close="delTag(tag)">{{tag}}</el-tag>
				<el-input class="tag_input" v-if="tagVisible" v-model="tagValue" ref="saveTagInput" @keyup.enter.native="addTag" @blur="addTag"></el-input>
				<el-button v-else @click="showTagInput">+ 新增</el-button>
			</el-form-item>
			<el-form-item label="显示">
				<el-switch v-model="form.visible"></el-switch>
			</el-form-item>
			<el-form-item label="内容">
				
			</el-form-item>
			<el-form-item>
				<el-button size="medium" type="primary">提交</el-button>
			</el-form-item>
		</el-form>
		
	</el-col>
</template>


</body>
</html>
