<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
</head>
<body>

<div id="app" v-cloak>
	<c-top :user-info.sync="userInfo"></c-top>

	<el-row class="oh">
		<c-nav :now="navNow"></c-nav>
		<el-col :span="20" class="main">
			<div class="info">
				<img :src="userInfo.avatar" alt="">
				<h1>{{userInfo.name}}</h1>
				<p>共有{{num.articleNum}}篇[<a href="/admin/article#/articleList">文章</a>]、{{num.codeNum}}篇[<a href="/admin/article#/articleList">代码</a>、{{num.imgNum}}张[<a href="/admin/pictureList">图片</a>]</p>
			</div>
		</el-col>
	</el-row>

</div>


</body>
</html>
