<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>图片管理</title>
</head>
<body>

<div id="app" v-cloak>
	<c-top :user-info.sync="userInfo"></c-top>

	<el-row class="oh">
		<c-nav :now="navNow"></c-nav>
		<el-col :span="20" class="main pictureList">
			<h2>相册列表</h2>
			<el-form class="pictureList_ctr" ref="addForm" :model="addForm" size="small" inline>
				<el-form-item v-show="!isAdd">
					<el-button type="primary" @click="isAdd=true">新建相册</el-button>
				</el-form-item>
				<el-form-item v-show="isAdd" label="相册名称" prop="name" :rules="[{ required: true, message: '请输入相册名称' }]">
					<el-input v-model="addForm.name" :maxlength="10"></el-input>
				</el-form-item>
				<el-form-item v-show="isAdd" label="显示">
					<el-switch v-model="addForm.visible" :disabled="isSubmit"></el-switch>
				</el-form-item>
				<el-form-item v-show="isAdd">
					<el-button type="primary" @click="addPictureList">新建相册</el-button>
					<el-button type="info" @click="isAdd=false">取消</el-button>
				</el-form-item>
				
			</el-form>
			<el-row :gutter="20">
				<el-col :span="4" v-for="item in list">
					<el-card :body-style="{ padding: '10px' }">
						<div v-if="!item.isEdit">
							<div class="pictureList_img" @click="goLink(item.listId)" :style="item.cover?'background-image:url('+item.cover+')':'background-image:url(/images/noCover.png)'"></div>
							<p class="fix">
								<el-tag class="fr" size="small" type="success" disable-transitions v-if="item.visible==true">显示</el-tag>
								<el-tag class="fr" size="small" type="info" disable-transitions v-else>隐藏</el-tag>
								{{item.name}}
							</p>
							<p class="fix">
								<el-dropdown trigger="click" size="small" class="fr" @command="selectionOpt">
									<el-button size="mini">操作<i class="el-icon-caret-bottom el-icon--right"></i></el-button>
									<el-dropdown-menu slot="dropdown">
										<el-dropdown-item :command="{type:1,id:item.listId,visible:!item.visible}">切换显示</el-dropdown-item>
										<el-dropdown-item :command="{type:2,item:item}" :disabled="item.listId==0">编辑信息</el-dropdown-item>
										<el-dropdown-item :command="{type:3,id:item.listId}" :disabled="item.listId==0">删除</el-dropdown-item>
									</el-dropdown-menu>
								</el-dropdown>
								{{ new Date(item.date).toLocaleDateString() }}
							</p>
						</div>
						<div v-else>
							<div class="pictureList_img" :style="item.cover?'background-image:url('+item.cover+')':'background-image:url(/images/noCover.png)'"></div>
							<el-form size="mini" :show-message="false" ref="editCopy" :model="editCopy">
								<el-form-item prop="name" :rules="[{ required: true }]">
									<el-input v-model="editCopy.name" placeholder="请输入相册名称" :maxlength="10"></el-input>
								</el-form-item>
								<el-form-item label="显示">
									<el-button class="fr" type="primary" @click="editPictureList">修改</el-button>
									<el-switch v-model="editCopy.visible"></el-switch>
								</el-form-item>
							</el-form>
						</div>
					</el-card>
				</el-col>
			</el-row>
		</el-col>
	</el-row>

</div>



</body>
</html>
